.idoru-debug {
    width: 100vw;
    height: 10vh;
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10000;    
}